# Configurações do Banco de Dados PostgreSQL
POSTGRES_DB=guia_parnanguara_db
POSTGRES_USER=guia_parnanguara_user
POSTGRES_PASSWORD=guia_parnanguara_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Configurações do Django
SECRET_KEY=django-insecure-change-this-in-production-key-guia-parnanguara
DEBUG=True
